@charset "utf-8";
@media screen and (max-width: 800px) {
    #article {opacity: 0; transition-duration: 0.5s;
        transition-timing-function: ease;
        -webkit-transition-duration:0.4s;
        -webkit-transition-timing-function:ease;}
}

html {
    display: block;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: none;
    -webkit-font-smooting: antialiased;
    box-sizing: border-box;
    /* font-size: 10px; */
    font-weight: 400;
    scroll-behavior: smooth;
    -ms-text-size-adjust:100%;-webkit-text-size-adjust:100%
}

body {
    margin:0;
    background:#ececec;color:#262523;-webkit-user-select:none;-moz-user-select:none;
    -ms-user-select:none;
    user-select:none
}
body.is-device{
    overflow:auto
}
article,footer,header,main,nav,section {
    display: block;
}

* {
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Pretendard';
    -webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;-webkit-tap-highlight-color:rgba(0,0,0,0);
    box-sizing:border-box;
}

a {
    text-decoration: none;
    /* font: 'Pretendard';
    font-weight: 800; */
    display: flex;
    background-color: transparent;
}

a:active, a:hover {
    outline: 0;
}
:after,:before {
    box-sizing:inherit
}

ul, ol, li {
    list-style: none;
}

::selection {
    background: #fff;
    color: #262523;
    text-shadow: none;
}

.header {
    margin-top: 0;
    /* top: 0; */
    display: block;
    width: 100vw;
    position: fixed;
    height: fit-content;
    z-index: 999;
}


.menu {
    /* margin-top: 1rem; */
    display: block;
    width: 100vw;
    margin-left: auto;
    position: sticky;
    opacity: 0;
    position: fixed;
    background-color: rgba(37, 36, 34, 0);
    transition-duration: 0.5s;
    transition-timing-function: ease;
    -webkit-transition-duration:0.4s;
    -webkit-transition-timing-function:ease;
}


.menuActive{
    display: block;
    width: 100vw;
    margin-left: auto;
    position: sticky;
    position: fixed;
    background-color: rgba(228, 228, 228, 0.1);
    transition-duration: 0.5s;
    transition-timing-function: ease;
    mix-blend-mode:difference;

    -webkit-transition-duration:0.4s;
    -webkit-transition-timing-function:ease;
  }
  



.menu-link {
    font-family: arboria, sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 0.7rem;
    letter-spacing: -9%;
    justify-content: flex-end;
    margin-right: 1.4rem;
    top: 0;
    font-weight: 400;  
    color: #9f9f9f;
    opacity: 1;
    mix-blend-mode:difference;
    transition-duration: 0.5s;
    transition-timing-function: ease;

    
    -webkit-transition-duration:0.4s;
    -webkit-transition-timing-function:ease;
}



.p-menu-item1{
    line-height: 1,1rem;
    margin-left: auto;
    font-size: 0.2rem;
    margin-top: 1rem;
    mix-blend-mode: difference;
    z-index: 1000;
}

.p-menu-item2{
    line-height: 1.1rem;
    margin-left: auto;
    font-size: 0.2rem;
    margin-bottom: 1rem;
    mix-blend-mode: difference;
    z-index: 1000;
}



.pr {
    gap: 2rem;
}



.img{
    width: 100vw;
}

.video1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}





.project_name {
    width: 100vw;
    display: inline-block;
    text-align: center;
    margin-top: 2rem;
    color:rgba(37, 36, 34, 0.8);
    font-size: 1rem;
    line-height: 1.6rem;
    font-weight: 500;
    /* font-family: 'Pretendard'; */
}

.copyright {
    width: 100vw;
    height: 4rem;
    display: flex;
    margin-top: 2rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    color:rgba(37, 36, 34, 100);
    font-weight: 300;
    font-size: 0.7rem;
    font-family: 'Pretendard';
}

.name_award {
    height: fill;
    align-content: space-around;
}

.name {
    width: 100vw;
    height: auto;
    padding: 0.5rem;
    margin: 0.5rem;
    font-size: 8rem;
    font-family: arboria, sans-serif;
    font-weight: 800;
    letter-spacing: -0.1rem;
}

.ko_name {
    font-family: 'Pretendard';
    font-weight: 100;
    letter-spacing: -0.05rem;
    font-size: 18px;
    margin-left: 6rem;
    margin-top: 2rem;
    line-height: 1.8rem;
}

.edu {
    display: inline-block;
    width: 300px;
    height: auto;
    margin-left: 7rem;
    line-height: 1.4rem;
    font-family: arboria, sans-serif;
    font-weight: 100;
    font-size: 0.9rem;
    align-items: top;
}

.edu_award {
    display: flex;
    align-items: top;
}

.work_extra{
    margin-top: 1rem;
    display: flex;
    align-items: top;
}

.info_title {
    display: inline-block;
    line-height: 1.4rem;
    font-family: arboria, sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.work {
    display: inline-block;
    width: 300px;
    height: auto;
    margin-left: 7rem;
    line-height: 1.4rem;
    font-family: arboria, sans-serif;
    font-weight: 100;
    font-size: 0.9rem;
}
.extra{
    display: inline-block;
    width: fit-content;
    height: auto;
    margin-left: 7rem;
    line-height: 1.4rem;
    font-family: arboria, sans-serif;
    font-weight: 100;
    font-size: 0.9rem;
}
.award{
    display: inline-block;
    width: fit-content;
    height: auto;
    margin-left: 7rem;
    line-height: 1.4rem;
    font-family: arboria, sans-serif;
    font-weight: 100;
    font-size: 0.9rem;
}

